[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=OpenStego
GenericName=Generic Steganography Software
Type=Application
Comment=Hide secret data into innocuous files like images
Exec=openstego
TryExec=openstego
Icon=openstego
Categories=System;
GenericName[en_IN]=Generic Steganography Software
Comment[en_IN]=Hide secret data into innocuous files like images
